<!DOCTYPE html>
<html>
  <head>
   
    <link rel='stylesheet' href="/stylesheets/style.css" >
    
    <title><%= title %></title>
   
  </head>
  <body>
    <% include title.ejs %>
    

 
  </body>
</html>
