<nav class="navbar">
  <a href="/">
    <h1>NodePop</h1>
  </a>
  <ul class="list">
    <li class="list-item"><a href="/filter">Fitrado y busqueda</a></li>
    <li class="list-item"><a href="/create">Crea un anuncio</a></li>
    <li class="list-item"><a href="/range/659">Rango de precios</a></li>
  </ul>
</nav>