<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/reset.css" >
    <link rel='stylesheet' href="/stylesheets/container.css">
    <title><%= title %></title>
   
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <p class="p"> Gracias por visitar <%= title %></p>

 
  </body>
</html>