body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:whitesmoke;
  
}

h2 {
  text-align: center;
  font-size: 40px;
}



.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 15px;
  padding-top: 80px;
  margin-bottom: 12px;
  background-color: rgba(245, 245, 245, 0.356);
  
}

.container p {
  font-size: 20px;
  text-align: center;
}

.container img {
  height: 150px;
  width: 50%;
  padding-top: 20px;
}

