
:root {
  --main-color: #fd0000;
  font-size: 25px;
}

body  {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;

  margin-bottom: 10px;
}

h1 {
  text-align: center;

  padding: 0px 20px 0px 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  font-weight: bold;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 35px;
  font-size: 35px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 10px;
  background-color: var(--main-color);
  color: white;
  
}

h2 {
  margin-left: 10px;
  text-align: center;
  font-size: 40px;
}

.p {
  padding: 0px 0px 15px 0px;
  text-align: center;
  font-size: 25px;

}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 15px;
  padding-top: 80px;
  margin-bottom: 12px;
  background-color: rgba(245, 245, 245, 0.356);
  
}

.container p {
  font-size: 20px;
  text-align: center;
}

.container img {
  height: 150px;
  width: 50%;
  padding-top: 20px;
}

